.formfield * {
    vertical-align: middle;
    font-family: monospace;
    font-size: 12px;
}

label.monospace {
    float: left;
    font-family: monospace;
    font-size: 12px;
    margin-top: 5px;
}

.twrap {
    vertical-align: middle;
    overflow: hidden;
    padding: 0 4px 0 12px
}

textarea {
    width: 100%;
}

textarea.singleline {
    vertical-align: middle;
    max-height: 14px;
    margin-top: 1px;
}

textarea.errorField {
    font-family: monospace;
    font-size: 12px;
    color: red;
}

.note {
    font-size: 14px;
    font-style: italic;
}